* {
  font-family: 'Roboto', sans-serif;
}

.header-menu {
  height: 50px;
  background-color: #212121;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header {
  position: relative;
  height: 50px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none;
  position: fixed;
  top: 0;
}

.menu_link {
  font-size: 15px;
  color: #fff;
  font-weight: 300;
}

.menu_item:not(:last-child) {
  border-right: 2px dotted #000;
  padding-right: 27px;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 84px;
}

.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

.subheader_official {
  margin-top: 6px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.5;
}

.subheader_call {
  margin-top: 19px;
  font-size: 12px;
  color: white;
  text-align: right;
}

.subheader_tel {
  display: block;
  margin-top: 8px;
  color: white;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}

.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
}

.subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.promo {
  min-height: 800px;
  background: url("../img/bg/main_bg.jpg") center center/cover no-repeat;
  text-align: center;
  padding: 150px 0 135px;
  color: #fff;
}

.promo_header {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.promo_subheader {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 22 px 0 0;
}

.promo_descr {
  font-size: 18px;
  line-height: 24px;
  margin-top: 23px;
}

.promo_btn {
  margin: 118px auto 0;
  font-size: 18px;
  display: block;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  width: 259px;
  height: 63px;
  -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
}

.promo_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.reasons {
  padding: 71px 0 65px 0;
}

.reasons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.reasons_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.reasons_descr {
  width: 343px;
}

.reasons_label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.reasons_title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #000;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.reasons_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.mobileApp {
  position: relative;
  min-height: 864px;
  padding: 48px 0 79px;
  background: url("../img/bg/mobileApp_bg.jpg") center center/cover no-repeat;
}

.mobileApp .row {
  margin-top: 32px;
}

.mobileApp_subtitle {
  margin-top: 19px;
  font-size: 17px;
  color: #000;
  text-align: center;
}

.mobileApp_title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #000;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.mobileApp_label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.mobileApp_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
}

.mobileApp_item_1 {
  background: url("../img/icons/mobile-app_1.jpg") center center/cover no-repeat;
}

.mobileApp_item_2 {
  background: url("../img/icons/mobile-app_2.jpg") center center/cover no-repeat;
}

.mobileApp_item_3 {
  background: url("../img/icons/mobile-app_3.jpg") center center/cover no-repeat;
}

.mobileApp_item_4 {
  background: url("../img/icons/mobile-app_4.jpg") center center/cover no-repeat;
}

.mobileApp_item_5 {
  background: url("../img/icons/mobile-app_5.jpg") center center/cover no-repeat;
}

.mobileApp_item_6 {
  background: url("../img/icons/mobile-app_6.jpg") center center/cover no-repeat;
}

.mobileApp_item_subtitle {
  padding-top: 90px;
  color: #ffff;
  text-transform: uppercase;
  text-align: center;
}

.mobileApp_item_black-round {
  position: absolute;
  bottom: 35px;
  left: 147px;
  border-radius: 50%;
  background-color: black;
  width: 26px;
  height: 26px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.mobileApp_item_black-round:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.mobileApp_item_plus {
  background: #1eacc7;
  width: 2px;
  height: 14px;
  position: relative;
  left: 12px;
  top: 6px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.mobileApp_item_plus:after {
  content: "";
  width: 14px;
  height: 2px;
  background: #1eacc7;
  position: absolute;
  left: -6px;
  top: 6px;
}

.mobileApp_item_plus:hover .mobileApp_item {
  -webkit-transform: skew(2);
          transform: skew(2);
}

/* SIBLING FADE: fade out siblings around a hovered item */
.sibling-fade {
  visibility: hidden;
}

/* Prevents :hover from triggering in the gaps between items */
.sibling-fade > * {
  visibility: visible;
}

/* Brings the child items back in, even though the parent is `hidden` */
.sibling-fade > * {
  -webkit-transition: opacity 150ms linear 100ms, -webkit-transform 150ms ease-in-out 100ms;
  transition: opacity 150ms linear 100ms, -webkit-transform 150ms ease-in-out 100ms;
  transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
  transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms, -webkit-transform 150ms ease-in-out 100ms;
}

/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */
.sibling-fade:hover > * {
  opacity: 0.4;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

/* Fade out all items when the parent is hovered */
.sibling-fade > *:hover {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-delay: 100ms, 0ms;
          transition-delay: 100ms, 0ms;
}

/* Fade in the currently hovered item */
.car {
  position: relative;
  min-height: 895px;
  background: url("../img/bg/mobileApp_bg.jpg") center center/cover no-repeat;
  text-align: center;
  padding: 57px 0 140px;
}

.car_img {
  position: relative;
  display: block;
  margin: 60px auto 0;
  z-index: 2;
}

.car_label {
  position: relative;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #fff;
  color: #000;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  z-index: 3;
}

.car_title {
  position: relative;
  margin-bottom: 0;
  margin-top: 38px;
  color: #fff;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 3;
}

.car_subtitle {
  position: relative;
  margin-top: 19px;
  font-size: 17px;
  color: #fff;
  text-align: center;
  z-index: 3;
}

.car_text {
  color: #202020;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

.car .black {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  background-color: #070716;
  z-index: 1;
}

.conditions {
  min-height: 920px;
  text-align: center;
  padding: 70px 0 80px;
}

.conditions_label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.conditions_title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #000;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 35px;
}

.conditions_subtitle {
  margin-top: 19px;
  font-size: 17px;
  color: #000;
  text-align: center;
}

.conditions_item {
  text-align: left;
  margin-bottom: 60px;
}

.conditions_heading-blue, .conditions_heading-red {
  font-size: 22px;
}

.conditions_heading-blue {
  color: #1eacc7;
}

.conditions_heading-red {
  color: #ff5656;
}

.conditions ul {
  list-style: none;
}

.conditions_list-blue li::before {
  content: "";
  background: url("../img/icons/tick-blue.png");
  display: block;
  width: 21px;
  height: 20px;
  position: absolute;
  left: -30px;
  top: 6px;
}

.conditions_list-red li::before {
  content: "";
  background: url("../img/icons/tick-red.png");
  display: block;
  width: 21px;
  height: 20px;
  position: absolute;
  left: -30px;
  top: 6px;
}

.conditions_tip {
  position: relative;
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.conditions_text {
  color: #1eacc7;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.world {
  min-height: 720px;
  background: url("../img/bg/world_bg.jpg") center center/cover no-repeat;
  text-align: center;
  padding: 50px 0;
}

.world_wrapper {
  min-height: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.world_label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #fff;
  color: #000;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.world_title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #fff;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.world_subtitle {
  margin-top: 19px;
  font-size: 17px;
  color: #fff;
  text-align: center;
}

.world_link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #1eacc7;
}

.world_link:hover {
  color: #fff;
}

.footer {
  min-height: 150px;
  padding: 50px 25px 0;
}

.footer_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer_wrapper::after {
  content: '';
  width: 299px;
  height: 4px;
  background: #1eacc7;
  position: absolute;
  top: -35px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.footer_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 50%;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.footer_round:not(:last-child) {
  margin-right: 7px;
}

.footer_round:hover, .footer_round:focus {
  color: #1eacc7;
  -webkit-box-shadow: 0 0 24px 0 #1eacc7;
          box-shadow: 0 0 24px 0 #1eacc7;
}

.footer_social-link {
  display: block;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.footer_social-link svg:hover {
  fill: #1eacc7;
}

.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.footer_menu ul {
  list-style: none;
}

.footer_menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.footer_menu-top li {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  color: #070716;
}

.footer_menu-top li:not(:last-child) {
  margin-right: 48px;
}

.footer_menu-top li a {
  font-size: 15px;
  color: #070716;
}

.footer_link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}

.footer_menu-bottom {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_menu-bottom li:not(:last-child) {
  margin-right: 20px;
}

.footer_menu-bottom li a {
  font-size: 11px;
  color: #999999;
}

.footer_menu-lang {
  display: block;
  font-size: 11px;
  color: #1eacc7;
}

.footer_mobile a img {
  width: 94px;
  height: 26px;
  border-radius: 3px;
}

.footer_mobile a img:not(:last-child) {
  margin-right: 7px;
}
