* {
    font-family: 'Roboto', sans-serif;
}
nav {
    height: 50px;
    background-color: hsl(0, 0%, 13%);
    position: fixed; 
    width: 100%;
    z-index: 2;
}
header {
    position: relative;
    height: 50px;
    
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style: none;
    position: fixed;
    top:0;
    &_link {
        font-size: 15px;
        color: #fff;
        font-weight: 300;
    }
    &_item:not(:last-child) {
        border-right: 2px dotted #000;
        padding-right: 27px;

    }
}
.subheader {
    position: absolute;
    top: 50px;
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.6);
    height: 84px;
    
    &_logo {
        display: block;
        max-width: 100%;
        margin-top: 16px;
    }
    &_official {
        margin-top: 6px;
        color: #fff;
        font-size: 13px;
        font-weight: 400;
        opacity: 0.5;
    }
    &_call {
        margin-top: 19px;
        font-size: 12px;
        color: rgb(255, 255, 255);
        text-align: right;
    }
    &_tel {
        display: block;
        margin-top: 8px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        text-align: right;
        line-height: 12px;
    }
    &_btn {
        margin-top: 19px;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        border: none;
        border-radius: 4px;
        width: 182px;
        height: 56px;
        background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    }
}
.promo {
    min-height: 800px;
    background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
    text-align: center;
    padding: 150px 0 135px;
    color: #fff;
    &_header {
        font-size: 60px;
        line-height: 60px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }
    &_subheader {
        font-size: 36px;
        line-height: 36px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 22 px 0 0;
        
    }
    &_descr {
        font-size: 18px;
        line-height: 24px;
        margin-top: 23px;
    }
    &_btn {
        margin: 118px auto 0;
        font-size: 18px;
        display: block;
        color: #fff;
        text-transform: uppercase;
        border: none;
        border-radius: 4px;
        width: 259px;
        height: 63px;
        background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
        text-shadow: inset 0px -4px 0 rgba(0, 0, 0, 0.12);
    } 
}

.reasons {
    padding: 71px 0 65px 0;
    &_block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
    }
    &_round {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 26px;
        width: 113px;
        height: 113px;
        background-color: #1eacc7;
        border-radius: 100%;
    }
    &_descr {
        width: 343px;
    }
    &_subtitle{
        line-height: 21px;
        color: #1eacc7;
        font-size: 17px;
        font-weight: 400;
    }
    &_text {
        color: #202020;
        font-size: 15px;
        font-weight: 300;
        line-height: 21px;
    }
}

.label {
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}


.title {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.subtitle {
    margin-top: 19px;
    color: #222222;
    font-size: 17px;
    text-align: center;
}
.mobileApp {
    min-height: 864px;
    padding: 48px 0 79px;
    background: url('../img/bg/mobileApp_bg.jpg') center center/cover no-repeat;
    .row {
        margin-top: 32px;
    }
    &_item {
        position: relative;
        width: 320px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 19px;
    
        &_1 {
            background: url('../img/icons/mobile-app_1.jpg') center center/cover no-repeat;
        }
        &_2 {
            background: url('../img/icons/mobile-app_2.jpg') center center/cover no-repeat;
        }
        &_3 {
            background: url('../img/icons/mobile-app_3.jpg') center center/cover no-repeat;
        }
        &_4 {
            background: url('../img/icons/mobile-app_4.jpg') center center/cover no-repeat;
        }
        &_5 {
            background: url('../img/icons/mobile-app_5.jpg') center center/cover no-repeat;
        }
        &_6 {
            background: url('../img/icons/mobile-app_6.jpg') center center/cover no-repeat;
        }
        &_subtitle {
            padding-top: 90px;
            color: #ffff;
            text-transform: uppercase;
            text-align: center;
        }
        
    }
    &_item_black-round {
        position: absolute;
        bottom: 35px;
        // left: 147px;
        transform: translateX(-50%);
        border-radius: 50%;
        background-color: rgb(0, 0, 0);
        width: 26px;
        height: 26px;
        margin: 0 auto;
        
    }
    &_item_plus {
        background: rgb(30, 172, 199);
        width: 2px;
        height: 14px;
        position: relative; 
        left: 12px;
        top: 6px;
        &:after {
            content: "";
            width: 14px;
            height: 2px;
            background: rgb(30, 172, 199);
            position: absolute; 
            left: -6px;
            top: 6px;
        }
    } 
}
